.button__logout {
  width: 130px;
  height: 50px;
  font-size: 19px;
  padding: 5px;
  border-radius: 15px;
}

.button__login {
  &--row {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  &--button {
    width: 200px;
    height: 50px;
    font-size: 19px;
    margin: 5px;
    border-radius: 15px;
  }
  &--img {
    display: block;
  }
  &--text {
    text-align: center;
    margin: 0px;
    padding-left: 10px;
  }
}
