.list__wrapper {
  width: 1160px;
  margin: auto;
  margin-top: 70px;
}
.post__like--button {
  background-color: transparent;
  border: none;
  border-radius: 30%;
  &:hover {
    background-color: rgba($color: #000000, $alpha: 0.3);
  }
  &:active {
    background-color: rgba($color: #000000, $alpha: 0.5);
  }
}
