.table__header--row {
  border-top: 4px solid #273272;
  border-bottom: 4px solid #273272;
}

.post__row {
  border-bottom: 1px solid rgba(100, 100, 200, 0.5);
}
.post__header--text {
  font-weight: bold;
  font-size: large;
  @include mobile {
    font-size: small;
  }
}
.post__text {
  @include mobile {
    font-size: small;
  }
  &--title {
    @include textNotOverflow;
    cursor: pointer;
    text-decoration: none;
    color: inherit;

    &:hover {
      text-decoration: underline;
    }
    &:active {
      color: rgba(100, 100, 200, 1);
    }
  }
  &--nickname {
    @include textNotOverflow;
  }
}
