.container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  @include mobile {
    width: 100%;
  }
}
.labeling__wrapper {
  width: 100%;
  min-height: 100%;
  &--light {
    background-color: #eee;
  }
  &--dark {
    background-color: #222;
  }
}
